<a href="https://colab.research.google.com/github/Sophie-X31/ECO372-Problem-Sets/blob/main/Problem_Set_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
## Import Statements
install.packages("haven")
library(haven)
library(dplyr)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [6]:
## Load Data File
url <- "https://raw.githubusercontent.com/Sophie-X31/ECO372-Problem-Sets/main/ps1_lakisha_aer.dta"
data <- read_dta(url)
# head(data)

  id ad education ofjobs yearsexp honors volunteer military empholes
1 b  1  4         2       6       0      0         0        1
2 b  1  3         3       6       0      1         1        0
3 b  1  4         1       6       0      0         0        0
4 b  1  3         4       6       0      1         0        1
5 b  1  3         3      22       0      0         0        0
6 b  1  4         2       6       1      0         0        0
  occupspecific ⋯ compreq orgreq manuf transcom bankreal trade busservice
1  17           ⋯ 1       0      1     0        0        0     0
2 316           ⋯ 1       0      1     0        0        0     0
3  19           ⋯ 1       0      1     0        0        0     0
4 313           ⋯ 1       0      1     0        0        0     0
5 313           ⋯ 1       1      0     0        0        0     0
6 266           ⋯ 0       0      0     0        0        1     0
  othservice missind ownership
1 0          0
2 0          0
3 0          0
4 0          0
5 1          0       Nonprofit
6 0          0       Private

In [14]:
## Inspect Data
# print(dim(data))
# print(colnames(data))
# print("Number of NA values in Columns:")
# na_columns <- colSums(is.na(data))
# print(na_columns[na_columns > 0])
# unique(data$race)

## Select Columns
summary_stats <- data %>%
  group_by(race) %>%
  summarise(
    mean_col = mean(col, na.rm = TRUE),
    sd_col = sd(col, na.rm = TRUE),
    mean_yearsexp = mean(yearsexp, na.rm = TRUE),
    sd_yearsexp = sd(yearsexp, na.rm = TRUE),
    mean_computerskills = mean(computerskills, na.rm = TRUE),
    sd_computerskills = sd(computerskills, na.rm = TRUE)
  ) %>%
  filter(race %in% c("w", "b"))

## Replicate Table
rep_table <- data.frame(
  rownames = c(
    "College degree (mean)",
    "College degree (std)",
    "Years of experience (mean)",
    "Years of experience (std)",
    "Computer skills? (mean)",
    "Computer skills? (std)"
  ),
  `White names` = c(
  round(summary_stats$mean_col[summary_stats$race == "w"], 2),
  round(summary_stats$sd_col[summary_stats$race == "w"], 2),
  round(summary_stats$mean_yearsexp[summary_stats$race == "w"], 2),
  round(summary_stats$sd_yearsexp[summary_stats$race == "w"], 2),
  round(summary_stats$mean_computerskills[summary_stats$race == "w"], 2),
  round(summary_stats$sd_computerskills[summary_stats$race == "w"], 2)
  ),
  `African-American` = c(
    round(summary_stats$mean_col[summary_stats$race == "b"], 2),
    round(summary_stats$sd_col[summary_stats$race == "b"], 2),
    round(summary_stats$mean_yearsexp[summary_stats$race == "b"], 2),
    round(summary_stats$sd_yearsexp[summary_stats$race == "b"], 2),
    round(summary_stats$mean_computerskills[summary_stats$race == "b"], 2),
    round(summary_stats$sd_computerskills[summary_stats$race == "b"], 2)
  )
)

print(rep_table)

                    rownames White.names African.American
1      College degree (mean)        0.72             0.72
2       College degree (std)        0.45             0.45
3 Years of experience (mean)        7.86             7.83
4  Years of experience (std)        5.08             5.01
5    Computer skills? (mean)        0.81             0.83
6     Computer skills? (std)        0.39             0.37